body {
    background-color: rgb(127, 184, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 { 
    text-align: center;
    width: 100%;
}

p {
    text-align: right;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link-container {
    display: flex;                
    justify-content: center;      
    margin-top: 10px;       
    border: red solid 5px;     
}

.links {
    font-size: larger;
    margin: 0 80px;     
    border: red solid 1px;     
    margin-top: 20px;    
}

a:hover {
    color: brown;
}

footer {
    text-align: center;
    margin-top: 150px;
}

.image-container {
    text-align: center;
    margin-top: 100px; 
}

.image-container img {
    max-width: 100%;
}

.animals-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 100px; 
}

.animals-container img {
    width: 150px;                   
    height: auto;                   
}

hr {
    width: 100%;            
    border: 1px solid #000; 
    margin: 20px 0;        
}

.table-container {
    display: flex;               
    justify-content: flex-end;   /* מיישר את הטבלה לימין */
    margin-top: 50px;           
    width: 100%;                 
}

table {
    width: auto;                
    margin-left: auto;          
    margin-right: 0;            
}

form {
    border: 2px solid #000; /* גבול שחור של 2 פיקסלים */
    padding: 20px; /* רווח פנימי סביב הטופס */
    background-color: transparent; /* שקיפות מלאה */
    border-radius: 5px; /* מעגל את הפינות של המלבן */
    width: 300px; /* קובע רוחב קבוע לטופס */
}

td {
    text-align: right;                   /* ממקם את הטקסט בצד ימין */
    padding: 1px;                        /* רווח פנימי מופחת בין התוכן לגבולות התא */
}
